/* GENERAL */

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: var(--background);
}





/* TYPOGRAPHY */

* {
    font-family: 'Satoshi', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

h1 {
    font-weight: 900;
    font-size: 24px;
}

h2 {
    font-weight: 700;
    font-size: 20px;
}

.tg_subheader1 {
    font-weight: 400;
    font-size: 20px;
}

.tg_subheader2 {
    font-weight: 500;
    font-size: 16px;
}

.tg_buttonnav {
    font-weight: 700;
    font-size: 16px;
}





/* BRAND COLORS */

:root {
    --buttontext: #FFF;
    --bodytext: #000;
    --background: #EEF4ED;
    --gray1: #EEE;
    
    --primary: #8DA9C4;
    --secondary: #134074;
    --secondary-dark: #13315C;
    --tertiary: #4d88db;

    --main-padding: 40px 300px;
}

/* 
Example use: 

color: var(--primary-color); 
*/





/* HEADER */

header {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 16px 300px;
    position: absolute;
}

.headerbox {
    display: flex;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background-color: #8DA9C4;
    border-radius: 12px;
    min-height: fit-content;
    width: 100%;
}

nav {
    display: flex;
}

nav a {
    padding: 20px;
    text-decoration: none;
    color: var(--secondary-dark);
}

nav a:hover {
    background-color: var(--secondary);
    color: var(--buttontext);
}

.headerlogo {

}





/* BODY */

main {
    padding: var(--main-padding);
}





/* FOOTER */

footer {
    background-color: var(--secondary);
    width: 100%;
    padding: var(--main-padding);
}

footer ul {
    padding: 0;
}

footer ul li {
    list-style-type: none;
}

footer ul li a {
    color: var(--buttontext);
    text-decoration: none;
}

footer ul li a:hover {
    text-decoration: underline;
}





/* HOME PAGE */

.home_hero {
    background-image: url(../img/homehero.jpg);
    width: 100%;
    height: 40vh;
    background-size: cover;
    background-position: center;
}

.home_intro {
    font-weight: 700;
    font-size: 28px;
    color: var(--secondary-dark);
}
.home_introdescription {
    font-weight: 400;
    font-size: 24px;
    margin: 30px 0;
}





/* LINK */

.link {
    color: var(--tertiary);
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
}