/* GENERAL */

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: var(--background);
    color: var(--bodytext);
    min-height: 100dvh;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

p {
    margin: 0;
}





/* TYPOGRAPHY */

* {
    font-family: 'Satoshi', sans-serif;
    font-size: 16px;
    font-weight: 300;
}

h1 {
    font-weight: 900;
    font-size: 24px;
}

h2 {
    font-weight: 700;
    font-size: 20px;
    margin: 0;    
}

.tg_subheader1 {
    font-weight: 700;
    font-size: 20px;
}

.tg_subheader2 {
    font-weight: 700;
    font-size: 16px;
}

.tg_buttonnav {
    font-weight: 500;
    font-size: 16px;
}





/* BRAND COLORS */

:root {
    --buttontext: #FFF;
    --bodytext: #2e2e2e;
    --background: #FFF;
    --gray1: #00000010;
    
    --primary: #8DA9C4;
    --secondary: #134074;
    --secondary-dark: #13315C;
    --secondary-dark-shadow: #13315c85;
    --tertiary: #4d88db;

    --main-padding_large-desktop_horizontal: 300px;
    --main-padding_large-desktop_vertical: 40px;
    --main-padding_small-desktop_horizontal: 200px;
    --main-padding_small-desktop_vertical: 40px;
    --main-padding_mobile_horizontal: 40px;
    --main-padding_mobile_vertical: 20px;
}

/* 
Example use: 

color: var(--primary-color); 
*/





/* HEADER */

header {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 16px var(--main-padding_large-desktop_horizontal);
    position: fixed;
}

@media (min-width: 769px) and (max-width: 1279px) {
    header {
        padding: 16px var(--main-padding_small-desktop_horizontal);
    }
}

@media (max-width: 768px) {
    header {
        padding: 16px var(--main-padding_mobile_horizontal);
    }
}

.headerbox {
    display: flex;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background-color: #8DA9C4;
    border-radius: 12px;
    min-height: fit-content;
    width: 100%;
    box-shadow: 0 0 8px 2px var(--secondary-dark);
}

nav {
    display: flex;
}

nav a {
    padding: 20px;
    text-decoration: none;
    color: var(--secondary-dark);
}

.headerlogo {

}





/* BODY/DEFAULTS */

main {
    padding: var(--main-padding_large-desktop_vertical) var(--main-padding_large-desktop_horizontal);
}     

@media (min-width: 769px) and (max-width: 1279px) {
    main {
        padding: var(--main-padding_small-desktop_vertical) var(--main-padding_small-desktop_horizontal);
    }
}

@media (max-width: 769px) {
    main {
        padding: var(--main-padding_mobile_vertical) var(--main-padding_mobile_horizontal);
    }
}

.default_hero {
    background-image: url(../img/homehero.jpg);
    width: 100%;
    height: 30vh;
    background-size: cover;
    background-position: center;
}

.default_title {
    color: var(--secondary);
}





/* FOOTER */

footer {
    background-color: var(--secondary);
    width: 100%;
    padding: var(--main-padding_large-desktop_vertical) var(--main-padding_large-desktop_horizontal);
    display: flex;
    margin-top: auto;
}

@media (min-width: 769px) and (max-width: 1279px) {
    footer {
        padding: var(--main-padding_small-desktop_vertical) var(--main-padding_small-desktop_horizontal);
    }
}

@media (max-width: 768px) {
    footer {
        padding: var(--main-padding_mobile_vertical) var(--main-padding_mobile_horizontal);
    }
}

footer ul {
    padding: 0;
}

footer ul li {
    list-style-type: none;
    margin: 4px 0;
}

footer ul li a {
    color: var(--buttontext);
    text-decoration: none;
}

footer ul li a:hover {
    text-decoration: underline;
}

.footer-title {
    color: var(--buttontext);
    margin-bottom: 12px 0;
}





/* HOME PAGE */

.home_intro {
    font-weight: 700;
    font-size: 24px;
    color: var(--secondary);
}
.home_introdescription {
    font-weight: 400;
    font-size: 20px;
    margin: 30px 0;
}





/* CONTACT FORM */

.contactform {
    width: 100%;
    display: flex;
    justify-content: center;
}

.contactform-box {
    box-shadow: 0 0 8px 2px var(--secondary-dark-shadow);
    border-radius: 12px;
    background-color: var(--background);
    padding: 24px;
    margin-top: 60px;
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
}

.contactform-title {
    margin-bottom: 20px;
}

.contactform-name {
    display: flex;
    gap: 6px;
    width: 100%;
}

@media (max-width: 794px) {
    .contactform-name {
        flex-direction: column;
    }    
}

.contactform-input-box {
    display: flex;
    flex-direction: column;
    margin-bottom: 8px;
    flex-grow: 1;
}

.contactform-input-box input, textarea {
    border: .5px solid black;
}

.contactform-input {
    margin-top: 4px;
    border-radius: 4px;
    border: 1px solid black;
    background-color: var(--buttontext);
    padding: 4px;
}

.contactform-requiredinfo {
    font-style: italic;
    font-size: 12px;
}

.contactform-buttons {
    margin-top: 16px;
    display: flex;
    width: 100%;
    gap: 6px;
}

.contactform-buttons input, .contactform-buttons button {
    flex: 1;
    padding: 8px;
    border-radius: 9999px;
    border: none;
}

.contactform-buttons input {
    background-color: var(--background);
}

.contactform-buttons input:hover {
    background-color: var(--gray1);
}

.contactform-buttons button {
    background-color: var(--secondary);
    color: var(--buttontext);
}

.contactform-buttons button:hover {
    background-color: var(--secondary-dark);
}





/* PROJECTS PAGE */

.projects_item {
    padding: 12px;
    display: flex;
    gap: 16px;
    background-color: var(--background);
    text-decoration: none;
    color: var(--bodytext);
}

.projects_item:hover {
    background-color: var(--gray1);
}

.projects_item-image {
    max-width: 30%;
    height: 100%;
    aspect-ratio: 3/2;
    object-fit: cover;
}

.projects_item-details {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.project_item-details-description {

}

.project_item-details-tag {
    padding: 4px;
    background-color: var(--tertiary);
    color: var(--buttontext);
    border-radius: 4px;
    margin: 0;
    width: fit-content;
    font-size: 12px;
}

@media (max-width: 975px) {
    .projects_item {
        flex-direction: column;
        padding: 0px;
        margin-bottom: 60px;
        gap: 8px;
    }
    
    .projects_item-image {
        max-width: 100%;
    }


}





/* ABOUT */

.about_wrapper {
    display: flex;
    flex-direction: row-reverse;
    gap: 80px;
}

.about_wrapper p {
    line-height: 36px;
}

.about_img {
    max-width: 30%;
    height: fit-content;
}

@media (max-width: 1000px) {
    .about_wrapper {
        flex-direction: column;
        gap: 0;
    }

    .about_img {
        margin: 20px 0;
        max-width: 40%;
    }
}

@media (min-width: 1279px) {
    .about_img {
        max-width: 20%;
    }
}


@media (max-width: 480px) {
    .about_img {
        margin: 20px 0;
        max-width: 60%;
    }
}

.about_img img {
    aspect-ratio: 1;
    width: 100%;
    border-radius: 99999px;
}





/* CONTACT */

.contact_list {
    padding: 0;
}

.contact_list li {
    list-style: none;
    margin-bottom: 16px;
}





/* LINK */

.link {
    color: var(--tertiary);
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
}





/* FADE */
.hvr-fade {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    overflow: hidden;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: color, background-color;
    transition-property: color, background-color;
  }
  .hvr-fade:hover, .hvr-fade:focus, .hvr-fade:active {
    background-color: var(--secondary);
    color: var(--buttontext);
  }
  